<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Điều chỉnh nguyện vọng</title>
</head>

<body>

    <div class="container">
        <h2>Hệ hỗ trợ quyết định giúp tư vấn lựa chọn nguyện vọng</h2>
        <form id="registrationForm" method="POST" action="/process_input" onsubmit="return validateForm()">
            <label for="region">Địa Chỉ:</label>
            <select id="region" name="region" required>
                <option value="1">Miền Bắc</option>
                <option value="2">Miền Trung</option>
                <option value="3">Miền Nam</option>
            </select>

            <label for="examScore">Điểm Thi Đại Học:</label>
            <input type="number" id="examScore" name="examScore" required>

            <label for="tuition">Mức Học Phí Phù Hợp:</label>
            <input type="number" id="tuition" name="tuition" required>

            <button type="submit">Đồng ý</button>
        </form>
    </div>

    <script>
        function validateForm() {
            // Kiểm tra các điều kiện nhập liệu
            var examScore = document.getElementById('examScore').value;
            var tuition = document.getElementById('tuition').value;

            if (parseFloat(examScore) <= 0) {
                alert("Điểm thi phải lớn hơn 0");
                return false;
            }
            if (parseFloat(tuition) <= 0) {
                alert("Mức học phí phải lớn hơn 0");
                return false;
            }
            if (examScore.trim() === "" || tuition.trim() === "") {
                alert("Vui lòng nhập đầy đủ thông tin");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>
